@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


.CountryPage {

    background-color: var(--body-color-on-country-page);
    height: 98.2vh;
    width: 100vw;
}

.country-flag {
    position: absolute;
    width: 560px;
    height: 401px;
    left: 300px;
    top: 281px;
    background: #808080;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
    border-radius: 10.0057px;
}

.back-button {

    position: relative;
    width: 136px;
    height: 40px;
    left: 300px;
    top: 160px;
    cursor: pointer;
    color: var(--text-color);
}

#arrow-icon {
    position: absolute;
    left: 30.88%;
    right: 59.31%;
    top: 26.43%;
    bottom: 40.24%;
}

#back-icon {
    position: absolute;
    height: 20px;
    left: 45.59%;
    right: 28.68%;
    top: calc(50% - 20px/2);

    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
}

.country-name-header {
    position: absolute;
    height: 44px;
    width: 550px;
    left: 0%;
    right: 78.93%;
    top: calc(50% - 44px/2 - 139.5px);

    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    color: var(--text-color);
}

.content-wrapper {
    color: var(--text-color);
    position: fixed;
    width: 780px;
    height: 323px;
    left: 1000px;
    top: 319px;
}

.country-info {
    position: fixed;
    height: 160px;
    left: 1000px;
    top: 359px;
    width: 600px;

    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: var(--text-color);
}

.country-info-right {
    position: fixed;
    height: 160px;
    left: 1350px;
    top: 359px;
    width: 600px;


    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;

    /* or 200% */
    color: var(--text-color);
}

.country-info-bottom {
    position: fixed;
    height: 160px;
    left: 1000px;
    top: 600px;
    width: 600px;
}

.country-info-bottom-part1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: var(--text-color);
}

.country-borders {
    width: 160px;
    height: 80px;
    background: var(--components-bg-color);
    color: var(--text-color);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;

    margin-right: 10px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


}